#firstsection {
  height: 90vh;
  background-image: url("../images/raj.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5em; }
  #firstsection .title {
    font-family: "Pacifico",cursive;
    color: #FFF;
    padding-top: 1em;
    font-size: 3em;
    text-align: center;
    margin-bottom: -1em;
    margin-right: 16em; }
  #firstsection p.paragraph {
    font-size: 1.7em;
    color: #FFF;
    padding: 4em;
    margin-bottom: -4em;
    margin-left: 7em; }
    #firstsection p.paragraph .break {
      margin-right: 20em; }
  #firstsection .icons {
    color: #FFF;
    font-size: 1em;
    text-align: center;
    margin-right: 20em; }
    #firstsection .icons .apple {
      border-radius: 50%;
      padding: 3px 9px;
      background-color: #1B1B18;
      color: white;
      margin-left: -27em; }
    #firstsection .icons .android {
      border-radius: 50%;
      padding: 3px 9px;
      background-color: #1B1B18;
      color: white; }
    #firstsection .icons .windows {
      border-radius: 50%;
      padding: 3px 9px;
      background-color: #1B1B18;
      color: white; }

#secondsection .container {
  position: relative; }
#secondsection .head {
  font-size: 2em; }
#secondsection h1 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.8em;
  font-size: 0.5em;
  margin: 0;
  margin-top: 1em;
  margin-bottom: 0.7em;
  padding: 0.5em; }
#secondsection p {
  text-align: center;
  color: #3598DB;
  font-size: 0.3em;
  margin-bottom: 1em; }
#secondsection .row {
  font-size: 3em;
  text-align: center;
  bottom: 0.1em; }
#secondsection i {
  color: #3598DB;
  font-size: 0.8em; }
#secondsection .para {
  font-size: 1em; }
#secondsection .border {
  border: 1px solid #F5F5F5; }

#thirdsection {
  background-color: #E7E7E7;
  text-align: center;
  padding: 0.5em; }
  #thirdsection p {
    color: #3598DB; }

#fourthsection .div {
  text-align: center; }
#fourthsection .carousel-inner .parag {
  text-align: center;
  color: #3598DB;
  font-size: 2em;
  border-bottom: 2em; }
#fourthsection .head {
  font-weight: bold;
  border-bottom: 2em; }
#fourthsection .carousel-indicators li {
  border: 1px solid blue; }
#fourthsection .carousel-indicators .active {
  background-color: #3598DB; }
#fourthsection .carousel-indicators {
  bottom: -36px; }

.container {
  margin-top: 5em; }

#fifthsection {
  margin-top: 3em;
  width: 100%; }
  #fifthsection .bg {
    background-color: #E7E7E7; }
  #fifthsection .price-option {
    border: 1px solid #444; }
  #fifthsection h2 {
    background-color: #3598DB;
    color: #FFF;
    margin: 0.5em;
    padding: 0.4em; }
  #fifthsection .price {
    font-size: 2.7em;
    font-weight: bold;
    position: relative;
    margin-bottom: 0; }
    #fifthsection .price span {
      font-size: 0.5em;
      position: absolute;
      top: -0.1em;
      font-weight: bold; }
  #fifthsection .reason {
    margin-bottom: 1em;
    border-bottom: 1px solid #E7E7E7; }
  #fifthsection .btn {
    text-transform: uppercase;
    font-size: 1em; }
  #fifthsection .color {
    background-color: #3598DB;
    padding: 12px; }
  #fifthsection h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 2em;
    font-size: 2em; }
  #fifthsection p {
    margin-bottom: 3em;
    text-align: center;
    color: #3598DB; }
  #fifthsection .icons {
    text-align: center; }
    #fifthsection .icons .twitter {
      border-radius: 50%;
      padding: 9px 12px;
      background-color: #d5d5ce;
      color: white; }
    #fifthsection .icons .face {
      border-radius: 50%;
      padding: 9px 12px;
      background-color: #d5d5ce;
      color: white; }
    #fifthsection .icons .link {
      border-radius: 50%;
      padding: 9px 12px;
      background-color: #d5d5ce;
      color: white; }
  #fifthsection .container {
    border: 2px solid #444;
    bottom: 2em; }

#sixthsection .container {
  background-color: #D6D6D6;
  padding: 1em 2em;
  width: 100%; }
  #sixthsection .container a {
    margin-right: 3em; }

/*# sourceMappingURL=app.css.map */
