#fifthsection {
  margin-top: 3em;
  width: 100%;
  .bg {
  background-color: $dark-font-color;

  }

  .head {
    font-weight: bold;
  }


  .price-option {
    border: 1px solid #444;
    background-color: #FFF;
    position: relative;
    top: 5em;


  }
    .test {
      position: relative;
      top: 3.5em;
      height: 416px;
    }

  h2 {
    // background-color:$primary-font-color;
    // color: #FFF;
    // margin: 0em;
    // padding: 0.4em;
    // margin-bottom: 0.7em;
    background-color: #3598DB;
    color: #FFF;
    margin: 0em;
    padding: 0.4em;

  }

  .price {
    font-size: 2.7em;
    font-weight: bold;
    position: relative;
    margin-bottom: 0;

   span {
    font-size: 0.5em;
    position: absolute;
    top: -0.1em;
    font-weight: bold;

  }
}

  .reason {
    margin-bottom: 1em;
    // margin-bottom: 2em;
    border-bottom: 1px solid $dark-font-color;
  }

    .btn {
        text-transform: uppercase;
        font-size: 1em;
    }

    .color {
        background-color: $primary-font-color;
            padding: 12px;
            position: relative;
            top: 29px;

    }

    h1 {
      text-align: center;
      font-weight: bold;
      margin-top: 4em;
      font-size: 2em;
    }

    p {
          margin-bottom: 0;
      text-align: center;
      color:$primary-font-color;
    }

    .icons {
          text-align: center;
        .twitter  {
          border-radius: 50%;
          padding: 9px 12px;
          background-color: rgb(213, 213, 206);
          color: rgb(255, 255, 255);
        }
          .face {
            border-radius: 50%;
            padding: 9px 12px;
            background-color: rgb(213, 213, 206);
            color: rgb(255, 255, 255);

          }

          .link {
            border-radius: 50%;
            padding: 9px 12px;
            background-color: rgb(213, 213, 206);
            color: rgb(255, 255, 255);

          }
    }


  .container {
    border: 2px solid #fff;
    bottom: 2em;

  }
}
