#firstsection {
  height: 90vh;
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5em;

  p.title{
        padding-top: 4em;
        font-size: 3em;
        text-align: center;
   }

  p.paragraph {
     text-align: center;
   }

  .icons {
    text-align: center;
  }
}
