#firstsection {
  height: 90vh;
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5em;

  p.title{
    color: #FFF;
        padding-top: 4em;
        font-size: 3em;
        text-align: center;
        margin-bottom: -3em;

   }

  p.paragraph {
    font-size: 2em;
    color: #FFF;
    text-align: left;
    padding: 4em;
    margin-bottom: -4em;

  }

  .icons {
    color:#FFF;
    text-align: center;
  }
}
