#fourthsection {
  .div {
    text-align: center;
  }

  .carousel-inner {
    .parag {
      text-align: center;
      color: $primary-font-color;
      font-size: 2em;
      border-bottom: 2em;
    }
  }


    .head {
            font-weight: bold;
            border-bottom: 2em;


    }
  .carousel-indicators {
    // background-color: #3598DB;
    li{
      border: 1px solid blue;
    }

    .active {
        // background-color: red;
      background-color: $primary-font-color;
    }
  }
    // li.active {
    //
    //   // background-color: #3598DB;
    // }


  .carousel-indicators {
        bottom: -36px;


  }
}

.container{
margin-top: 5em;
}
