#fourthsection {
  .div {
    text-align: center;
  }
  .container{
  margin-top: 9em;
  background-color: $primary-font-color;
  background-color:#8A2BE2;

    .parag {
      text-align: center;
         font-size: 2em;
    }
    .head {
      font-weight: bold;
      border-bottom: 2em;

    }
  }
}
