#secondsection {
  position: relative;


  h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.8em;

  }

  p {
    text-align: center;
    color: $light-font-color;
    font-size: 0.5em;
    margin-bottom: 3em;
  }

  .row {
    font-size: 3em;
    text-align: center;
    bottom: 1em;
  }

  i {
    color: $primary-font-color;
  }

  .para {
    font-size: 1em;
  }
}
