#sixthsection {
    //list-style: none;
    //text-align: center
  .container {
    background-color:  $light-font-color;
    padding: 1em 2em;
    width: 100%;

    a {
     margin-right: 3em;
    }
  }
}
